.shopping {
    background: rgb(255, 0, 131);
    background: linear-gradient(111deg, rgba(255, 0, 131, 1) 0%, rgba(255, 0, 97, 1) 52%, rgba(255, 0, 186, 1) 79%);
    padding-top: 120px;

    .shopping_txt {
        padding: 0 70px;
        @include Flexible(flex-start, flex-start, column, wrap, 40px);
        h1 {
            font-weight: 600;
            font-size: 29px;
            color: $white_color;
        }
        p {
            
            margin-bottom: 60px;
           a{
            color: $white_color;
            outline: none;
            text-decoration: none;
            margin-bottom: 60px;
           }
        }
    }
}